<div class="name-container name-pale-blue name-leftbar">
  <h1>Editing Xclass</h1>
</div>

<br>

<%= render 'form', xclass: xclass %>

<br>

<%= link_to 'Show', @xclass, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', xclasses_path, class: 'btn btn-sm btn-outline-primary' %>
