<div class="new">

  <div class="row justify-content-center">
    <div class="col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-block">
          <h1 class="card-header text-center">New Class</h1>
          <div class="card-body">
            <div class="row justify-content-md-center">
              <div class="col-md-12">

                <%= render 'form', xclass: @xclass %>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group mt-5">
    <% if @xclass.root? %>
      <%= link_to octicon('arrow-left'), xroot_xcategory_path(@xclass.xcategory.xroot, @xclass.xcategory), class: 'btn btn-sm btn-outline-secondary' %>
    <% else %>
      <%= link_to octicon('arrow-left'), xroot_xcategory_xclass_path(@xclass.xcategory.xroot, @xclass.xcategory, @xclass.parent), class: 'btn btn-sm btn-outline-secondary' %>
    <% end %>
  </div>
</div>