- cache @xclass do
  div.show-xclass
    div.nav-side-menu
      = render 'shared/btn_brand'
      div.menu-list
        <ul id="menu-content" class="menu-content collapse out">
          - @xroot.xcategories.find_each(batch_size: 50) do |xcategory|
            <li data-toggle="collapse" data-target="#xcategory-#{ xcategory.id }" class="collapsed #{ 'active' if @xclass.xcategory == xcategory }">
              
              <a class="file" href="#{ xroot_xcategory_path(xcategory.xroot, xcategory) }">
                - if xcategory.xclasses.exists?
                  <i class="fa fa-folder fa-lg"></i>
                - else
                  <i class="fa fa-file fa-lg"></i>
              
                span.pl-2
                  = xcategory.code
                  = truncate(xcategory.title, :length => 18)
              </a>
              
              - if @xclass.xcategory != xcategory && xcategory.xclasses.exists?
                <span class="arrow xcategories-sub-xclasses-load" data-xcategory-id="#{ xcategory.id }" data-xroot-id="#{ xcategory.xroot.id }"></span>
            </li>
            
            - if @xclass.xcategory == xcategory
              <ul class="tree sub-menu collapse pl-2 show" id="xcategory-#{ xcategory.id }">
                = render xcategory.xclasses.roots if xcategory.xclasses.exists?
              </ul>
            - else
              <ul class="tree sub-menu collapse pl-2 xcategories-sub-xclasses-#{ xcategory.id }" id="xcategory-#{ xcategory.id }"></ul>
        </ul>

    div.content
      = render 'xroots/examples/example_info_0', xroot: @xroot
      
      nav aria-label="breadcrumb"
        <ol class="breadcrumb">
          <li class="breadcrumb-item">#{ link_to 'Xroots', xroots_path }</li>
          <li class="breadcrumb-item">#{ link_to truncate(@xroot.title, :length => 18), xroot_path(@xroot) }</li>
          <li class="breadcrumb-item">#{ link_to truncate(@xcategory.title, :length => 18), xroot_xcategory_path(@xroot, @xcategory) }</li>
          - @xclass.ancestors.each do |ancestor|
            <li class="breadcrumb-item">#{ link_to truncate(ancestor.title, :length => 18), xroot_xcategory_xclass_path(@xroot, @xcategory, ancestor) }</li>

          <li class="breadcrumb-item active" aria-current="page">#{ truncate(@xclass.title, :length => 8) }</li>
        </ol>
      </nav>
      
      div.show-errors
        = render 'shared/errors', resource: @xclass

      div.resource-show.card
        = render 'form_inline', xclass: @xclass
        = render 'shared/content', resource: @xclass

      = render 'shared/btn_action', resource: @xclass