<div class="name-container name-pale-blue name-leftbar">
  <h1>Editing Xcategory</h1>
</div>

<br>

<%= render 'form', xcategory: xcategory %>

<br>

<%= link_to 'Show', @xcategory, class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', xcategories_path, class: 'btn btn-sm btn-outline-primary' %>
