- cache @xcategory do
  div.show-xcategory
    div.nav-side-menu
      = render 'shared/btn_brand'
      div.menu-list
        <ul id="menu-content" class="menu-content collapse out">
          = render @xroot.xcategories
        </ul>

    div.content
      = render 'xroots/examples/example_info_0', xroot: @xroot

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            = link_to 'Xroots', xroots_path
          </li>
          <li class="breadcrumb-item">
            = link_to truncate(@xroot.title, :length => 18), xroot_path(@xroot)
          </li>
          <li class="breadcrumb-item active" aria-current="page">#{ truncate(@xcategory.title, :length => 18) }</li>
        </ol>
      </nav>
      
      div.show-errors
        = render 'shared/errors', resource: @xcategory
      div.resource-show.card
        = render 'form_inline', xcategory: @xcategory
        = render 'shared/content', resource: @xcategory
      = render 'shared/btn_action', resource: @xcategory