<div class="new">
  <div class="name-container name-pale-blue name-leftbar">
    <h1>New Property</h1>
  </div>

  <%= render 'form', property: property %>

  <div class="btn-group">
    <%= link_to 'Back', properties_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>