= content_tag :div, class: 'card-block', data: { resource_id: resource.id } do
  h1 class="card-header"
    = fa_icon('file-text-o')
    = t('show.name')
    = resource.name
  .card-body
    .row.justify-content-md-center
      .col-md-12
        p 
          = fa_icon('align-left')
          = t('show.description')
          = resource.description
        p 
          = fa_icon('align-left')
          = t('show.synonym')
          = resource.synonym
        p 
          = fa_icon('file-code-o')
          = t('show.code')
          = resource.code
        p 
          = fa_icon('calendar')
          = t('show.version_date')
          = resource.version_date
        p 
          = fa_icon('check-square-o')
          = t('show.publish')
          = resource.publish
        p 
          = fa_icon('cogs')
          = t('show.properties')
        = render 'properties/properties', resource: resource
        
        - if resource_name(resource) == 'xroot'
          .mt-5.btn-group
          - if current_user.author_of?(resource)
            = link_to fa_icon('files-o'), new_xroot_xcategory_path(resource), class: "btn btn-sm btn-outline-info"
            = link_to fa_icon('pencil'), edit_xroot_path(resource), data: { resource_id: resource.id }, class: 'form-inline-link btn btn-sm btn-outline-warning ml-5'
            = link_to fa_icon('trash'), xroot_path(resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger ml-5'
        - elsif resource_name(resource) == 'xcategory'
          .mt-5.btn-group
          - if current_user.author_of?(resource)
            = link_to fa_icon('files-o'), new_xroot_xcategory_xclass_path(resource.xroot, resource), class: "btn btn-sm btn-outline-info"
            = link_to fa_icon('pencil'), edit_xroot_xcategory_path(resource.xroot, resource), data: { resource_id: resource.id }, class: 'form-inline-link btn btn-sm btn-outline-warning ml-5'
            = link_to fa_icon('trash'), xroot_xcategory_path(resource.xroot, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger ml-5'
        - else
          .mt-5.btn-group
          - if current_user.author_of?(resource)
            = link_to fa_icon('files-o'), new_xroot_xcategory_xclass_path(resource.xcategory.xroot, resource.xcategory, parent_id: resource.id), class: "btn btn-sm btn-outline-info"
            = link_to fa_icon('pencil'), edit_xroot_xcategory_xclass_path(resource.xcategory.xroot, resource.xcategory, resource), data: { resource_id: resource.id }, class: 'form-inline-link btn btn-sm btn-outline-warning ml-5'
            = link_to fa_icon('trash'), xroot_xcategory_xclass_path(resource.xcategory.xroot, resource.xcategory, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger ml-5'