<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-columns pl-5">
        <% resource.children.each do |child| %>
          <div class="card border-info mt-5 mb-5 pl-2" style="max-width: 18rem;">
            <div class="card-header">
              <%= link_to octicon('eye'), xroot_xcategory_xclass_path(child.xcategory.xroot, child.xcategory, child) %>
              <span class="badge badge-warning"><%= child.children.count %></span>
            </div>
            <div class="card-body text-info">
              <h5 class="card-title"><%= truncate(child.name, :length => 20) %></h5>
              <p class="card-text"><%= truncate(child.description, :length => 160) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>