<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-columns pl-5">
        <% resource.xclasses.each do |xclass| %>
          <% if xclass.root? %>
            <div class="card border-info mt-5 mb-5 pl-2" style="max-width: 18rem;">
              <div class="card-header">
                <%= link_to octicon('eye'), xroot_xcategory_xclass_path(xclass.xcategory.xroot, xclass.xcategory, xclass) %>
                <span class="badge badge-warning"><%= count_xclasses_for_xcategory(xclass) %></span>
              </div>
              <div class="card-body text-info">
                <h5 class="card-title"><%= truncate(xclass.name, :length => 20) %></h5>
                <p class="card-text"><%= truncate(xclass.description, :length => 160) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>