default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  username: classifier
  password: <%= ENV['CLASSIFIER_DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: classifier_development


test:
  <<: *default
  database: classifier_test


production:
  <<: *default
  database: classifier_production
  username: classifier
  password: <%= ENV['CLASSIFIER_DATABASE_PASSWORD'] %>
