// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menu {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  height: 50px;
  background-color: #343A40;
  li {
    margin-top: 23px;
    margin-left: 20px;
    padding: 0;
    float: left;
    a {
      padding: 0 10px;
      padding-top: 1px;
      height: 27px;
      display: block;
      text-decoration: none;
      border: solid 2px #000;
      color: black;
      background-color: white;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      &:hover, &.active {
        background: #FFF;
        border-bottom: solid 2px #FFF;
      }
    }
  }
}

#submenu > ul {
  float: left;
  list-style: none;
  border-right: dashed #777 1px;
  padding: 6px 32px;
  padding-bottom: 30px;
  margin-top: -10px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 0;
  li {
    margin: 8px 0;
  }
  ul {
    font-size: 11px;
    margin: 0;
    padding-left: 16px;
    li {
      margin: 5px 0;
    }
  }
}