html {
  font-size: 0.3rem;
}
@include media-breakpoint-up(xs) {
  html {
    font-size: 0.7rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.0rem;
  }
}
/*Body style*/
body {
  background-color: #1C2633;
}
footer {
  background-color: #0C141E;
}
nav {
  background-color: #1A2D44;
}
.parent {
  color: $light;
}
.card, .container, .jumbotron {
  color: $secondary;
}
.breadcrumb, .card, .jumbotron, .container {
  background-color: #0C141E !important;
  /*#1C2023*/
}
.edit, .index, .new, .contact, .help, .service, .show-second {
  padding-left: 70px;
  padding-right: 70px;
}
.alert {
  margin-bottom: 0px;
}
.justify-content-center {
  margin-top: 30px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.hidden {
  display: none
}
.form-inline label {
  justify-content: left !important;
}
.form-inline .form-control {
  width: 100% !important;
}