a {
  color:  #6C757D;
}
.alert {
  margin-bottom: 0px;
}
.hidden {
  display: none
}
.logo {
  heght: 40px;
  width: 40px;
}

/*Errors*/

section.errors {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: #ffc;
}
section.errors h2 {
  color: #dc3545;
  font-size: 1.25rem;
}

section.errors h3 {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

div.field_with_errors {
  display: inline;
}
div.field_with_errors input {
  background: #ffc !important;
}
div.field_with_errors textarea {
  background: #ffc !important;
}
div.field_with_errors select {
  background: #ffc !important;
}