html {
  font-size: 0.3rem;
}
body {
  /*background-color: #4f5b69;*/
  background-image: image-url('towers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 100% 70%;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.4rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.7rem;
  }
}

/*start-content*/
.justify-content-center {
  margin-top: 30px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.edit, .index, .new, .contact, .help, .service, .show-second {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 100px;
  margin-top: 30px;
}
.hidden {
  display: none
}
.card { 
  border: none 
}
a {
  color: #17A1B8;
}
a:hover {
  color: #128496;
}
