.flash {
  border: 2px solid;
  border-radius: 5px;
}

.alert {
  border-color: #dc3545;
  background-color: #dc3545;
  color: #fff;
}

.notice {
  border-color: #28a745;
  background-color: #28a745;
  color: #fff;
}