.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.name-pale-blue {
  //color: #2196F3;
  background-color: #ddffff;
}

.name-leftbar {
  border-left: 6px solid #2196F3;
}

.name-container, .name-panel {
  padding: 0.5em 16px;
}