.pointer {
  cursor: pointer;
}

.name-pale-blue {
  color: #17a1b8;
  text-align: center;
  background-color: #E9ECEF;
}

.name-leftbar {
  border-left: 7px solid #17a1b8;
}

.name-container, .name-panel {
  padding: 0.5em 16px;
}