- cache @activities do
  .index
    .card.mt-3
      .card-block
        h1.card-header.text-center
          = t('form.index')
        .card-body
          .row.justify-content-md-center
            .col-md-12

              table class="table table-bordered table-striped table-light"
                thead
                  tr
                    th = t('form.title')
                    th = t('form.synonym')
                    th = t('form.description')
                    th = t('form.code')
                    th = t('form.version_date')
                    th = t('form.publish')
                    th = t('form.parent')
                    th = t('show.children')
                    th colspan="3" = t('show.buttons') 
                  
                tbody
                  - @activities.each do |activity|
                    tr
                      td = truncate("#{activity.title}", :length => 20)
                      td = truncate("#{activity.synonym}", :length => 20)
                      td = truncate("#{activity.description}", :length => 20)
                      td = activity.code
                      td = activity.version_date
                      td = activity.publish
                      td 
                        span class="badge badge-info badge-pill" = activity.ancestry
                      td
                        span class="badge badge-info badge-pill"
                          = activity.children.size
                      td = link_to icon('eye'), activity, class: 'btn btn-sm btn-outline-info'
                      - if current_user.author_of?(activity)
                        td = link_to icon('pencil'), edit_activity_path(activity), class: 'btn btn-sm btn-outline-warning'
                        td = link_to icon('trash'), activity, class: "btn btn-sm btn-outline-danger",
                             data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
                      

    .mt-3
      = link_to icon('plus'), new_activity_path, class: 'btn btn-sm btn-outline-success mt-2'
