<div class="name-container name-pale-blue name-leftbar">
  <h1>New Activity</h1>
</div>

<br>

<%= render 'form', activity: activity %>

<br>

<%= link_to 'Back', activities_path, class: 'btn btn-sm btn-outline-secondary' %>
