- cache @activity do
  .show-second.
    .card.mt-5
      .card-block
        h1 class="card-header" 
          = @activity.name
        .card-body
          .row.justify-content-md-center
            .col-md-12
              p 
                <b>Description: </b>
                = @activity.description
              p 
                <b>Synonym: </b>
                = @activity.synonym
              p 
                <b>Code: </b>
                = @activity.code
              p 
                <b>Version date: </b>
                = @activity.version_date
              p 
                <b>Publish: </b>
                = @activity.publish
              p 
                <b>Position: </b> 
                = @activity.position
              p 
                <b>Ancestry: </b> 
                = @activity.ancestry
              p 
                <b>Children: </b>
                - if current_user.author_of?(@activity)
                  = link_to 'add new child', new_activity_path(parent_id: @activity.id), class: "btn btn-sm btn-outline-success"
              p
                ul class="items list-group mt-3 mb-3"
                  - @activity.children.each do |child|
                    li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                      = link_to truncate(child.name, :length => 30), activity_path(child), class: 'text-secondary'
                      <small title="date of creation">
                        = child.created_at
                      </small>
                      <span class="badge badge-info badge-pill" title="Children">
                        = child.children.size
                      </span>
                      - if current_user.author_of?(child)
                        = link_to fa_icon('trash'), activity_path(child), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', class: 'btn btn-sm btn-outline-danger'

    .btn-group.mt-5
      - if current_user.author_of?(@activity)
        = link_to fa_icon('pencil'), edit_activity_path(@activity), class: 'btn btn-sm btn-warning'
        = link_to fa_icon('arrow-left'), activities_path, class: 'btn btn-sm btn-secondary'
