<div class="service">
  <h1><%= t('front_pages.service') %></h1>
  <p>1</p>
  <p>2</p>
  <p>3</p>

  <div class="btn-group">
    <%= link_to t('back'), root_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>