<ul>
  <% if xcategories.empty? %>
    <li>No tree...</li>
  <% else %>
    <% xcategories.each do |xcategory, xclasses| %>
      <li>
        <%= link_to_unless_current xcategory.name, xroot_xcategory_path(xcategory.xroot, xcategory) %>
        <%= render 'submenu_xcategories', xcategories: xclasses if xclasses.present? %>
      </li>
    <% end %>
  <% end %>
</ul>