<div class="name-container name-pale-blue name-leftbar">
  <h1>Editing Xroot</h1>
</div>

<br>

<%= render 'form', xroot: xroot %>

<br>

<%= link_to 'Show', @xroot, class: 'btn btn-sm btn-outline-secondary' %>
<%= link_to 'Back', xroots_path, class: 'btn btn-sm btn-outline-secondary' %>
