<% cache collection_cache_key_for :xroot do %>
  <div class="index-xroot">
    <div class="nav-side-menu">
      <div class="brand">CLASSIFICATION SYSTEM</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out xroots-list">
          <%= render @xroots %>
        </ul>
      </div>
    </div>
    <div class="content">
      <%= render 'example_info' %>  
    </div>
  </div>
<% end %>