<!-- Footer -->
<footer class="page-footer font-small mt-5">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-secondary">
    © <%= current_year %>
    <b><%= t('classifier.copyright') %> </b> <%= link_to octicon('repo-forked'), github_url('dastanabeuov', 'Classifier'), target: '_blank', class: 'text-secondary' %>
  </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->