<!-- Footer -->
<footer class="fixed-bottom bg-warning py-1 mt-5">
  <!-- Copyright -->
  <div class="footer-copyright text-center">
    <small>
      © <%= current_year %>
      <b><%= t('classifier.copyright') %> </b> <%= link_to fa_icon("code-fork"), github_url('dastanabeuov', 'Classifier'), target: '_blank', class: 'text-dark', title: 'Repo-forked' %>
    </small>
  </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->