<!-- Footer -->
<footer class="fixed-bottom bg-warning py-3">
  <!-- Copyright -->
  <div class="footer-copyright text-center">
    © <%= current_year %>
    <b><%= t('classifier.copyright') %> </b> <%= link_to octicon('repo-forked', :height => 12), github_url('dastanabeuov', 'Classifier'), target: '_blank', class: 'text-dark', title: 'Repo-forked' %>
  </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->